font-face {
    font-family: 
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../)
        url(../)

}
font-face {
    font-family: 
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(../)
        url(../)

}
