/* цвет основного текста #757575;*/
/* вторичный текст #212121*/
/* белый фон #FFFFFF*/
/* акцент #2196F3*/
/* вторичный цвет фона #e5e5e5*/
/* фон нижней части #F5F4FA*/
/* фон втавок #2F303A*/
/* */
/* */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
}
/*site-nav*/

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

span {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
  font-family: inherit; /*унаследование шрифта на след странице (потфолио)*/
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contact-info .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.contact-info .link:hover,
.contact-info .link:focus {
  color: var(--accent-color);
}

/* hero*/

.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero,
footer {
  background-color: #2f303a;
}

/*features*/

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/*section title*/

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*works*/

/*teams*/

.team-list .name {
  color: var(--title-text-color);
}
.team {
  background-color: #f5f4fa;
}

/*button*/
button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*footer*/
.footer-section .list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.contact-info .links {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-info .links:hover,
.contact-info .links:focus {
  color: var(--accent-color);
}
.logo-footer {
  color: var(--primary-bg-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
